<h1 class="text-center">La Liste des Offres</h1>
<div class="row m-4">
  <div class="col-sm">
    <div class="card">
      <img class="card-img-top" src="assets/images/materiel.png" alt="Card image cap">
      <div class="card-body text-center">
        <h3 class="card-text">Un Materiel</h3>
        <h4 class="card-text">23 points</h4>
      </div>
      <div class="card-body">
        <a href="#" class="btn btn-primary float-start">Modifier</a>
        <a href="#" class="btn btn-warning float-end">Supprimer</a>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
    <img class="card-img-top" src="assets/images/poubelle.png" alt="Card image cap">
      <div class="card-body text-center">
        <h3 class="card-text">Une Poubelle</h3>
        <h4 class="card-text">20 points</h4>
      </div>
      <div class="card-body">
        <a href="#" class="btn btn-primary float-start">Modifier</a>
        <a href="#" class="btn btn-warning float-end">Supprimer</a>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
    <img class="card-img-top" src="assets/images/seau.png" alt="Card image cap">
      <div class="card-body text-center">
        <h3 class="card-text">Un Seau</h3>
        <h4 class="card-text">18 points</h4>
      </div>
      <div class="card-body">
        <a href="#" class="btn btn-primary float-start">Modifier</a>
        <a href="#" class="btn btn-warning float-end">Supprimer</a>
      </div>
    </div>
  </div>

</div>

