<h1 class="text-center">Nos Vidéos de Sensibilisation</h1>

<div class="row m-4">
    <div class="col-sm">
      <div class="card">
        <iframe class="card-iframe-top video" src="https://www.youtube.com/embed/29jOYfUQ5Nk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-body">
          <p class="card-text" style="font-size: 22px">Afin de lutter contre les inondations qui surviennent dans notre pays à cause des déchets plastiques qui bouchent la canalisation et empêchent l'assainissement de l’eau, les nourritures malsaines que nous mangeons sont dues aux déchets plastiques dispersées dans la nature,...<br>
            Le projet SAMBAL est une solution innovante, qui se base sur l’existant afin de mettre en place un bac à ordure intelligent alimenté au solaire qui permet de collecter automatiquement les déchets plastiques et lance un alerte en cas de remplissage du bac à ordure. Il sera connecté à une application mobile pour localiser les points de collecte et de visualiser les points que vous gagnez en jetant vos déchets plastiques.
          </p>
        </div>
      </div>
    </div>
    <!--<div class="col-sm">
      <div class="card">
        <iframe class="card-iframe-top video" src="https://www.youtube.com/watch?v=qURVPmorsXQ&t=19s&ab_channel=SenSmartWork%282SW%29" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <iframe class="card-iframe-top video" src="https://www.youtube.com/watch?v=29jOYfUQ5Nk&ab_channel=SenSmartWork%282SW%29" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>-->

  </div>

