.profile_image{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: #01e6fe 4px solid;
}
.submit{
  font-weight: bold;
  font-size: larger;
  margin: auto;
  width: 35%;
}
.retour{
  height: 50px;
  position: relative;
  top: 20px;
}
